# Mandatory info for starting the app
REACT_APP_MORALIS_APPLICATION_ID = yDreu6f4ETqoek4o39I858Zc05sHCW01vpKMT2SZ
REACT_APP_MORALIS_SERVER_URL = https://c6qhzj7ga5br.usemoralis.com:2053/server

# Optional info for connecting your localChain and Moralis Database
moralisApiKey = xxxxx
moralisApiSecret = xxxxxxx
frpcPath = F:\frpc\frpc.exe
chain = ganache
moralisSubdomain = xxxxxxx.usemoralis.com
abiPath = "F:\ethereum-boilerplate\Truffle\build\contracts\Contract.json"
